// nextflow.config

params {
    // Input read files (supports glob patterns)
    reads = "path/to/fastqs/*_{1,2}.fastq.gz"
    // Output directory for all pipeline results
    outdir = "results"
    // GTF annotation file (required for featureCounts)
    params.gtf="/absolute/path/to/gencode.v47.annotation.gtf"
    params.genome_fasta="/absolute/path/to/GRCh38.p14.genome.fa"
    params.transcriptome_fasta="/absolute/path/to/gencode.v47.transcripts.fa"

}

process {
    executor = 'local'
    withName:fastqc {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withName:align_star {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_6'
    }
    withName:feature_counts {
        container = 'quay.io/biocontainers/subread:2.1.1--h577a1d6_0'
    }
    withName:salmon_quant {
        container = 'quay.io/biocontainers/salmon:1.10.3--h45fbf2d_4'
    }
    withName:build_star_index {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_6'
    }
    withName:build_salmon_index {
        container = 'quay.io/biocontainers/salmon:1.10.3--h45fbf2d_4'
    }
}

profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'shared'
        process.memory = '50 GB'
        process.cpus = 16
        process.clusterOptions = ''
        executor.queueSize = 100
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = '--cleanenv --bind /dcs05'
    }
}
